<footer class="bgft" data-aos="zoom-in-up" data-aos-duration="3000">
    <div class="container">
        <div class="row ">
            <h1 class="ft-hd-1 my-5">CONNECT WITH US</h1>
            <div class="d-flex ft-sub-bd">
                <h2 class="ft-hd-2 my-3">SUBSCRIBE TO OUR NEWSLETTER</h2>
                <form class="my-3 ft-mg-ml">
                    <div class="d-flex ">
                       <input type="email" placeholder="EMAIL" class="form-control ft-form-ml" id="email">
                       <button type="button" class="btn btn-ok">OK</button>
                    </div>
                </form>
            </div>

            <div class="col-md-6 my-4">
                <img src="assets/Images/logo-ft.png" class="img-fluid w-50">
                <h6 class="ft-para-1 mt-3">GHAR CHAHIYE IDHAR UDHAR MAT GHUMO</h6>
                <h5 class="ft-para-2">WELCOME TO RENTROOMO</h5>
                <ul class="ft-pl">
                    <li class="ft-dot"><a class="ft-lnks" routerLink="/">About us</a></li>
                    <li class="ft-dot"><a class="ft-lnks" routerLink="/">Contact us</a></li>
                    <li class="ft-dot"><a class="ft-lnks" routerLink="/">Privacy Policy</a></li>
                    <li class="ft-dot"><a class="ft-lnks" routerLink="/">Pricing</a></li>
                    <li class="ft-dot"><a class="ft-lnks" routerLink="/">Refer and Earn</a></li>
                </ul>
                <ul class="list-unstyled d-inline-flex my-3">
                    <li class="mx-3 ft-lnks-bd">
                        <a href="tel:123456789"> <i class="fas fa-phone-alt" style="color: #00a2ff; font-size: 16px;"></i>
                        </a>
                        </li>
                    <li class="mx-3 ft-lnks-bd">
                     <a href=""> <i class="fab fa-facebook-f" style="color: #00a2ff; font-size: 16px;"></i>
                     </a>
                     </li>
                    <li class="mx-3 ft-lnks-bd">
                     <a href=""> <i class="fab fa-twitter" style="color: #00a2ff; font-size: 16px;"></i>
                     </a>
                     </li>
                    <li class="mx-3 ft-lnks-bd">
                      <a href=""> <i class="fab fa-instagram" style="color: #00a2ff; font-size: 16px;"></i>
                      </a>
                     </li>
                   
                </ul>
            </div>

            <div class="col-md-6 my-4">
                   <div class="feed-ft-bd my-4">
                       <h2 class="ft-feed-hd">FEEDBACK TO US</h2>
                       <div class="d-flex ft-feed-spc my-3">
                        <input type="name" placeholder="NAME" class="form-control ft-form-feed w-25" id="name">
                        <input type="email" placeholder="EMAIL" class="form-control ft-form-feed w-50" id="email">
                       </div>

                       <div class="form-group">
                        
                        <textarea class="form-control ft-form-feed" placeholder="MESSAGE" rows="5" id="comment"></textarea>
                      </div>
                      <div class="text-center my-3">
                      <a class="" routerLink="/">
                        <button type="button" class="btn btn-primary">Submit</button>
                      </a>
                     </div>
                   </div>
            </div>
       </div>
    </div>
</footer>