<section class="testi">
    <div class="container">
        <div class="row">
            <h1 class="hd-txt-4 my-4">OUR TESTIMONIALS</h1>
            <!-- data-aos="zoom-out-right" data-aos-duration="2000" -->
            <div class="col-md-4 my-2" >
                <div class="test-brd">
                <h3 class="test-hd">NAME SURNAME</h3>
                <div class="d-flex">
                    <img src="assets/Images/13.png" class="img-fluid">
                    <div class="mt-2 test-pd">
                       <h5 class="test-para ps-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. </h5>
                    </div>
                </div>
            </div>
           </div>
           <!-- data-aos="zoom-out-right" data-aos-duration="2500" -->
           <div class="col-md-4 my-2" >
            <div class="test-brd">
            <h3 class="test-hd">NAME SURNAME</h3>
            <div class="d-flex">
                <img src="assets/Images/13.png" class="img-fluid">
                <div class="mt-2 test-pd">
                   <h5 class="test-para ps-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. </h5>
                </div>
            </div>
        </div>
       </div>
       <!-- data-aos="zoom-out-right" data-aos-duration="3000" -->
       <div class="col-md-4 my-2" >
        <div class="test-brd">
        <h3 class="test-hd">NAME SURNAME</h3>
        <div class="d-flex">
            <img src="assets/Images/13.png" class="img-fluid">
            <div class="mt-2 test-pd">
               <h5 class="test-para ps-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. </h5>
            </div>
        </div>
    </div>
   </div>

        </div>

        <div class="row my-3">
            <div class="col-md-2"></div>
            <!-- data-aos="flip-right"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2500" -->
            <div class="col-md-4 my-2" >
                <div class="test-brd">
                    <h3 class="test-hd">NAME SURNAME</h3>
                    <div class="d-flex">
                        <img src="assets/Images/13.png" class="img-fluid">
                        <div class="mt-2 test-pd">
                           <h5 class="test-para ps-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. </h5>
                        </div>
                    </div>
                </div>
            </div>

            <!-- data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2500" -->

            <div class="col-md-4 my-2" >
                <div class="test-brd">
                    <h3 class="test-hd">NAME SURNAME</h3>
                    <div class="d-flex">
                        <img src="assets/Images/13.png" class="img-fluid">
                        <div class="mt-2 test-pd">
                           <h5 class="test-para ps-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. </h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2"></div>

        </div>

        <div class="row">
            <!-- data-aos="zoom-out-left" data-aos-duration="2000" -->
            <div class="col-md-4 my-2" >
                <div class="test-brd">
                <h3 class="test-hd">NAME SURNAME</h3>
                <div class="d-flex">
                    <img src="assets/Images/13.png" class="img-fluid">
                    <div class="mt-2 test-pd">
                       <h5 class="test-para ps-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. </h5>
                    </div>
                </div>
            </div>
           </div>
           <!-- data-aos="zoom-out-left" data-aos-duration="2500" -->
           <div class="col-md-4 my-2" >
            <div class="test-brd">
            <h3 class="test-hd">NAME SURNAME</h3>
            <div class="d-flex">
                <img src="assets/Images/13.png" class="img-fluid">
                <div class="mt-2 test-pd">
                   <h5 class="test-para ps-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. </h5>
                </div>
            </div>
        </div>
       </div>
       <!-- data-aos="zoom-out-left" data-aos-duration="3000" -->
       <div class="col-md-4 my-2" >
        <div class="test-brd">
        <h3 class="test-hd">NAME SURNAME</h3>
        <div class="d-flex">
            <img src="assets/Images/13.png" class="img-fluid">
            <div class="mt-2 test-pd">
               <h5 class="test-para ps-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. </h5>
            </div>
        </div>
    </div>
   </div>

        </div>


    </div>
</section>
