<section class="bg-6">
    <div class="container">
     <div class="row">
         <div class="col-md-12 my-5 srvc-mblvw"></div>
     </div>
 <div class="row text-center">
     <h1 class="hd-txt-4 my-4">OUR SERVICES</h1>

     <div class="col-md-2"></div>
     <div class="col-md-4 my-2">
        <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img src="assets/Images/6.png" class="img-fluid srvc-1">
                <h2 class="srvc-hd my-2">SERVICE</h2>
              </div>
              <div class="flip-box-back">
                <h2>Paris</h2>
                <p>What an amazing city</p>
              </div>
            </div>
          </div>         
     </div>

     <div class="col-md-4 my-2">
        <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img src="assets/Images/7.png" class="img-fluid srvc-2">
                <h2 class="srvc-hd my-2">SERVICE</h2>
              </div>
              <div class="flip-box-back">
                <h2>Paris</h2>
                <p>What an amazing city</p>
              </div>
            </div>
          </div>         
     </div>
     
 </div>




 
 <div class="row text-center">
    <div class="col-md-4 my-2">
        <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img src="assets/Images/8.png" class="img-fluid srvc-3">
                <h2 class="srvc-hd my-2">SERVICE</h2>
              </div>
              <div class="flip-box-back">
                <h2>Paris</h2>
                <p>What an amazing city</p>
              </div>
            </div>
          </div>         
     </div>
     <div class="col-md-4 my-2">
        <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img src="assets/Images/9.png" class="img-fluid srvc-1">
                <h2 class="srvc-hd my-2">SERVICE</h2>
              </div>
              <div class="flip-box-back">
                <h2>Paris</h2>
                <p>What an amazing city</p>
              </div>
            </div>
          </div>         
     </div>
     <div class="col-md-4 my-2">
        <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img src="assets/Images/10.png" class="img-fluid srvc-4">
                <h2 class="srvc-hd my-2">SERVICE</h2>
              </div>
              <div class="flip-box-back">
                <h2>Paris</h2>
                <p>What an amazing city</p>
              </div>
            </div>
          </div>         
     </div>
 </div>
</div>
</section>
