<section class="bg-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 my-5 wtwedo-mblvw"></div>
        </div>
       

    <div class="row ">
        <div class="col-md-7 my-5 pe-0" data-aos="fade-down-right"
        data-aos-easing="linear"
        data-aos-duration="2000">
            <div class="four my-5 pe-5 ps-3">
              <h1 class="hd-txt-3">WHAT WE DO</h1>
              <p class="txt-para-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ipsum autem soluta voluptas, rem corporis maiores nulla consequuntur eveniet reiciendis. Dicta molestiae odio, corrupti illo architecto perferendis voluptates maiores excepturi?</p>
           </div>
        </div>

        <div class="col-md-5 ps-0" data-aos="fade-down-right" data-aos-easing="linear"  data-aos-duration="2500">
          <div class="five who-circle-bg my-5 py-4 w-100">
              <img src="../../../assets/Images/wtwedo.gif" class="col-7">
           </div>
        </div>
     
    </div>
</div>
</section>
