.txt-para-1{
    font-size: 21px;
    text-align: justify;
    color: #19578d;
}
.hd-txt-3{
    color: #1a9da3;
    font-size: 44px;
    font-weight: 600;
    text-align: center;
}
.two{
    border: 2px solid #8ad7f4;
    border-radius: 50%;
    padding: 0px;
    position: absolute;
}
.three{
    border: 2px solid #19578d;
    border-radius: 20px;
    padding: 20px 45px;
}
.who-circle-bg{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
}
@media (max-width:500px){
    .three{
        top: 300px;
        position: relative;
    }
}
svg {
	width: 100%;
	max-width: 10rem;
	animation: rotate 3.6s linear infinite;
}

circle {
	fill: none;
	stroke: dodgerblue;
	stroke-width: 8px;
	stroke-dasharray: 300;
	animation: outline 2s cubic-bezier(0.77,0,0.18,1) infinite;
}

@keyframes outline {
	0% {
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dashoffset: 300;
	}
	100% {
		stroke-dashoffset: 600;
	}
}

@keyframes rotate {
	from {
		transform: rotate(0turn);
	}
	to {
		transform: rotate(-1turn);
	}
}