<div class="container-fluid">
    <div class="row one">
             <h1 class="banner-hd1">GHAR CHAHIYE IDHAR UDHAR MAT GHUMO</h1>
             <h2 class="banner-hd2">WELCOME TO RENTROOMO</h2>
             <form class="d-flex">
                <input class=" form-con srch-1 me-2 w-25 text-center" type="text" placeholder="LOCATION / CITY">
                <select name="types" id="type" class="btn-srch-3">
                    <option >TYPE</option>
                    <option value="house">House</option>
                    <option value="office">Office</option>
                    <option value="appartment">Appartment</option>
                   
                  </select>
                <button class="btn btn-srch-2" type="button">Search</button>
              </form>

             <div class="col-md-12 w-100 p-0" data-aos="zoom-in-up" data-aos-easing="linear" data-aos-duration="2000">
                 <img src="assets/Images/MAIN PAGE-1.png" class="img-fluid w-100">
             </div>
    </div>
</div>


<app-featuredproperties></app-featuredproperties>

   
    <app-whoweare></app-whoweare>

   

   <app-whatwedo></app-whatwedo>

<app-whyus></app-whyus>


  <app-ourservices></app-ourservices>


   <app-needhelp></app-needhelp>

   <app-ourtestimonials></app-ourtestimonials>

