
    <section class="one">
        <app-header></app-header>

        <div class="container">
    <div class="row ">
       
             <form class="d-flex pt-5 mt-5">
                <input class=" form-con srch-1 me-2 w-25 text-center" type="text" placeholder="LOCATION / CITY">
                <select name="types" id="type" class="btn-srch-3">
                    <option >TYPE</option>
                    <option value="house">House</option>
                    <option value="office">Office</option>
                    <option value="appartment">Appartment</option>
                   
                  </select>
                <button class="btn btn-srch-2" type="button">Search</button>
              </form>

            </div>  
    </div>
</section>



<app-featuredproperties></app-featuredproperties>

   
    <app-whoweare></app-whoweare>

   

   <app-whatwedo></app-whatwedo>

<app-whyus></app-whyus>


  <app-ourservices></app-ourservices>


   <app-needhelp></app-needhelp>

   <app-ourtestimonials></app-ourtestimonials>

